#avatar {
    height: 288px;
    width: 288px;
    background: url("../images/persos/Homme/Walk.png") 0px 0px;
    background-repeat: no-repeat;
    margin-left : 140px;
    margin-top : 17.5em;
  }

body {
  display: absolute;
  overflow-y: hidden;
  overflow-x: auto;
}
