body{
    background-color: blue;
}

#grid-container {
    display: none;
    grid-template-columns: auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-item:hover{
    background-color: pink;
  }

  #btn-response:hover{
    background-color: aqua;
  }

  #btn-result:hover{
    background-color: aqua;
  }