@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

div {
  src: url(../images/btn/btnFalseHomme.png);
}
div:hover {
  src: url(../images/btn/btnActifHomme.png);
}

/* Global */
html{
  max-height: 100%;
}
body{
  font-family: 'Press Start 2P', cursive;
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255,255,255,.75);
  background-image: url("../images/background/fondPixelAppartement.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
h1{
    position: relative;
    top: 10%;  
    width: 75%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    border: 1px black solid;
}
.line-1{
    position: relative;
    top: 10%;
    width: 75%;
    margin: 0 auto;
    font-size: 50px;
    text-align: center;

}
.splash{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color:rgba(0, 0, 0, 0.495) ;
  z-index: 200;
  line-height: 10vh ;
  text-align: center;
}
.splash img{
  width: 15%;
}

@keyframes fadeIn {
  to{
      opacity: 1;
  }
}

.fade-in{
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}
.splash.display-none{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -10;
  text-align: center;
  line-height: 10vh ;
  transition: all 10s;
}
