img:hover[src*="/images/btn/btnFalseHomme"] {
    background-image: url("/images/btn/btnActifHomme");
    width: 20rem;
    height: 10rem;
    padding: 10rem 0 0 0;
}

#homme:hover {
    background-image: url("/images/btn/btnActifHomme");
    height: 100px;
}